.India {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#IndiaDescription {
  margin-top: 30px;
}

#IndiaDescription p {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 200%; 
}

#IndiaDescription img {
  margin-top: 40px;
}

@media only screen and (max-width: 1100px) {
  .India {
    margin-left: 5%; 
    margin-right: 5%;
  }

  #IndiaDescription p {
    font-size: 16px;
    margin-top: 30px;
  }

  #IndiaFlag, .IndiaImage {
    height: 200px;
  }
}